# Final Project Checkpoint

## Seed Zones Data

In [1]:
import pandas as pd

seed_zone_df = pd.read_csv("ca-seed-zones.csv")
seed_zone_df

,OBJECTID,SEED_ZONE,REGION,SUBREGION,SUBZONE,Shape__Area,Shape__Length,GlobalID
0,1,91,0,9,1,1.346744e+09,202368.859869,babe457c-5ab6-4430-be80-b8ab44f90604
1,2,301,3,0,1,2.541819e+09,234810.252618,05611a6e-e5ee-456b-990c-0a9aad6f358d
2,3,512,5,1,2,1.727634e+08,56943.522959,e4614cd8-e59d-4324-b1d0-6a2fb834b6ea
3,4,511,5,1,1,2.717440e+08,86465.219465,89cb77cf-85cb-440b-b578-f0cfece47c8a
4,5,321,3,2,1,1.569239e+09,176918.550894,ad6a999b-d132-4d16-8c0c-20d34c592a2e
...,...,...,...,...,...,...,...,...
87,88,986,9,8,6,6.602299e+09,386811.478905,5b9994e6-57a0-482c-bf37-160303a6a60c
88,89,998,9,9,8,8.057870e+09,546050.937488,f15fb4f2-487e-4543-94a3-0464cb687a3c
89,90,150,1,5,0,1.939695e+08,102144.447514,9fe54f15-91ea-47a1-a3d6-615748a30454
90,91,150,1,5,0,5.858490e+07,43082.406355,a782b2ed-e525-4cb7-b5d5-135b26e8fa05
91,92,150,1,5,0,1.468020e+08,91080.915079,373e52a0-e373-495a-949e-19cc674e5b2d

In [7]:
seed_zone_df['SEED_ZONE'].unique()

array([ 91, 301, 512, 511, 321, 516, 720, 731, 952, 751, 741, 322, 742,
       302, 311,  92, 752, 521, 331, 303, 312, 732, 332, 522, 760, 390,
        93, 961, 340, 371, 771, 524, 523, 351,  94, 372, 525, 772, 352,
        95, 380, 962, 526, 781, 360, 791,  96, 531, 782, 100, 161, 792,
       981,  97, 532, 162, 533, 783, 963, 784, 163, 110, 534, 982, 550,
       120, 785, 164, 540, 130, 560, 165, 983, 570, 140, 991, 992, 993,
       994, 995, 984, 996, 150, 997, 985, 986, 998])